
.bg-black {
  background-color: #1a1a1d;
}

/* .navbar-custom {
  height: 8vh;
} */


html body {
  /* background-color: #0b0c10; */
  font-family: "Oswald", sans-serif !important;
}

.cont {
  background-image: url('./pictures/Untitled-2.jpg');
  background-size: cover;
  overflow: auto;
  height: 100vh;
}

.main-text {
  text-align: center;
  vertical-align: middle;
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 92vh;
  max-height: 92vh;
}

.plus {
  position:relative;
  left:100px;
  top:100px;
  border: 1px dotted white;
  width: 3px;
  height: 3px;
  background-color: black;
  box-sizing: border-box;
  transform: scale(11);
}

.plus:hover {
  transform: scale(10);
}

.accordion .card-header:after {
  font-family: 'FontAwesome';  
  content: "\f068";
  float: right; 
}
.accordion .card-header.collapsed:after {
  /* symbol for "collapsed" panels */
  content: "\f067"; 
}